
.markdown h1 {
	font-size: 160%;
}

.markdown h2 {
	font-size: 140%;
}

.markdown h3 {
	font-size: 120%;
}

.markdown h4 {
	font-size: 110%;
}

textarea {
	font-family: Courier;
}


.image-selector .entry {
	float: left;
	border: 1px solid black;
	width: 140px;
	height: 140px;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	background-image: url(../images/spinner.gif);
	background-repeat: no-repeat;
	background-position: 55px 55px;
	vertical-align: middle;
	text-align: center;
}

.image-selector .entry .image-name {
	text-align: center;
	white-space: nowrap;
	overflow-x: hidden;
}

.image-selector .image {
	width: 140px;
	height: 120px;
}