body {
        padding-top: 60px;
        padding-bottom: 40px;
}

.sidebar-nav {
        padding: 9px 0;
}

@media (max-width: 979px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
        .navbar-fixed-top, .navbar-fixed-bottom {
          padding-top: 0px;
          position: fixed;
          margin-left: 0px;
          margin-right: 0px;
        }
}
      
.markdown h1 {
	font-size: 160%;
}

.markdown h2 {
	font-size: 140%;
}

.markdown h3 {
	font-size: 120%;
}

.markdown h4 {
	font-size: 110%;
}

textarea {
	font-family: Courier;
}


.waiting {
	background-image: url(../images/spinner.gif);
	background-repeat: no-repeat;
}

.image-selector .entry {
	float: left;
	border: 1px solid black;
	width: 140px;
	height: 140px;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	background-position: 55px 55px;
}

.image-selector .entry .image {
	vertical-align: middle;
	text-align: center;
	z-index: 10;
}

.image-selector .entry .image-name {
	text-align: center;
	white-space: nowrap;
	overflow-x: hidden;
	z-index: 10;
}

.image-selector .entry .image-button {
	-moz-border-radius: 11px;
	border-radius: 11px;
	box-shadow: 0 0 5px #aaa;
	margin-top: -20px;
	margin-left: -2px;
	width: 22px;
	height: 22px;
	text-align: center;
	background-color: #ccc;
	z-index: 20;
	position: absolute;
	display: none;
}

.image-selector .entry .image-button-right {
	margin-left: 120px;
}


.image-selector .image {
	width: 140px;
	height: 120px;
}